{% extends 'base.html' %}

{% block content %}
    <h1>
        {% block title %} Welcome to PropeMaker {% endblock %}
    </h1>
    {% if hero %}
        <p id="text2">Hero: {{ hero }}</p>
    {% endif %}
    {% if talent %}
        <p id="text">Talent: {{ talent }}</p>
    {% endif %}
    {% if talent %}
        <p id="text3">Passed: {{ passed }}</p>
    {% endif %}
    <form method="post">
        <div class="form-group">
            <label for="hero">Hero</label>
            <input type="text" name="hero_name"
                   placeholder="hero name" class="form-control"
                   value="{{ request.form['hero'] }}"></input>
        </div>

        <div class="form-group">
            <label for="talent">Talent</label>
            <input type="text" name="talent_name"
                   placeholder="talent name" class="form-control"
                   value="{{ request.form['talent'] }}"></input>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
{% endblock %}
